<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="abc" connectionString= providerName="Microsoft.EntityFrameworkCore.SqlServer" />
	</connectionStrings>-->

	<connectionStrings>
		<add name="MusicPlayerDatabase"
			 connectionString="Data Source=10.45.174.4, 1433;Initial Catalog=MUSIC_PLAYER_VP;Persist Security Info=True;User ID=apeuser;Password=apeuser"/>
	</connectionStrings>
</configuration>